@mixin hs ($pad, $margin, $font, $size, $weight, $color) {
    padding: $pad;
    margin: $margin;
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

h1{
    @include hs (16px, 40px 0px 0px 40px, $font, 40px, 900, $type1)
}

h2{
    @include hs (16px, 40px 0px 20px 40px, $font, 32px, 900, $type2)
}

h3{
    @include hs (0px, 0px, $font, 16px, 900, $type2)
}

// h1{
//     padding: 16px;
//     margin: 40px 0px 0px 40px;
//     font-family: $font;
//     font-size: 40px;
//     font-weight: 900;
//     color: $type1;
// }

// h2{
//     padding: 16px;
//     margin: 40px 0px 20px 40px;
//     font-family: $font;
//     font-size: 32px;
//     font-weight: 900;
//     color: $type2;
// }

// h3{
//     font-family: $font;
//     font-size: 16px;
//     font-weight: 900;
//     color: $type2;
// }

header{
    nav{
        ul{
            li{
                display: flex;
                justify-content: end;
            }
        }
    }
}

.squareColor{
    background-color: $type1;
}

.navBg{
    background-color: $type2;
}

button{
    width: fit-content;
    background-color: $buttonOn;
    border: none;
    border-radius: 8px;
    color: $type2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: $font;
    font-weight: 500;
    margin-left: 56px;
    cursor: pointer;
    transition-duration: 0.4s;

    &:hover{
        background-color: $buttonHover;
        color: $type3;
        transform: scale(1.1);
        }
    }

ul{
    li{
        list-style-type: none;
    }
}

.navbar li{
    margin: 5px 10px;
}

.navText{
    text-decoration: none;
    color: $type3;
    font-family: $font;
    font-weight: 700;
    position: relative;
}

nav{
    ul{
        li {
            a{
                &:hover {
                    color: $type1;
                }
            }
        }
    }
}

nav{
    ul{
        li{
            a{
                &:before{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    background-color: $type1;
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

nav{
    ul{
        li{
            a{
                &:hover{
                    &:before{
                        visibility: visible;
                        width: 103%;
                    }
                }
            }
        }
    }
}

p {
    padding: 16px;
    margin: 8px 40px 8px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: $type2;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;

    .footerh3{
        @extend h3;
        font-size: 20px;
        color: $type1;
        padding: 16px;
        margin: 20px 0px 20px 40px;
    }

    ul{
        li{
            #padNone{
                text-decoration: none;
                color: $type3;
                padding-left: 0px;
            }
        }
    }

    nav{
        ul{
            li{
                #padNone{
                    text-decoration: none;
                    color: $type3;
                    padding-left: 0px;
                }
            }
        }
    }
}

.footerContact{
    font-family: 'Montserrat', sans-serif;
    color: $type3;
    font-size: 12px;
    margin-top: 20px;
}

.footerText{
    font-family: 'Montserrat', sans-serif;
    color: $type3;
    font-size: 16px;
    padding-left: 16px;
    margin: 8px 0px 20px 40px;
    font-weight: 400;
}

.newColor{
    color: $type3;
}
