@mixin hs ($pad, $margin, $font, $size, $weight, $color) {
    padding: $pad;
    margin: $margin;
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

html{
    scroll-behavior: smooth;
}

.title{
    justify-content: center;
    text-align: center;
}

h1{
    @include hs (16px, 0px 0px 0px 0px, $font, 40px, 900, $type1)
}

h2{
    @include hs (16px, 0px 0px 0px 40px, $font, 32px, 900, $type2)
}

h3{
    @include hs (0px, 0px, $font, 16px, 900, $type2)
}

.centerTitle{
    text-align: center;
}

header{
    nav{
        ul{
            li{
                display: flex;
                justify-content: end;
            }
        }
    }
}

.squareColor{
    background-color: $type1;
}

.navBg{
    background-color: $type2;
    width: 100%;
}

.navbar-brand{
    margin: 0px;
    width: 52px;
    height: 52px;
}

button{
    width: fit-content;
    background-color: $buttonOn;
    border: none;
    border-radius: 0.5rem;
    color: $type2;
    padding: 1rem 2rem;
    margin: 1.5rem 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: $font;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.4s;

    &:hover{
        background-color: $buttonHover;
        color: $type3;
        transform: scale(1.1);
        }
    }

ul{
    li{
        list-style-type: none;
    }
}

.navbar li{
    margin: 5px 10px;
}

.navText{
    text-decoration: none;
    color: $type3;
    font-family: $font;
    font-weight: 700;
    position: relative;
}

nav{
    ul{
        li {
            a{
                &:hover {
                    color: $type1;
                }
            }
        }
    }
}

nav{
    ul{
        li{
            a{
                &:before{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    background-color: $type1;
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

nav{
    ul{
        li{
            a{
                &:hover{
                    &:before{
                        visibility: visible;
                        width: 103%;
                    }
                }
            }
        }
    }
}

p {
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: $type2;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 20px 10% 40px 10%;

    .footerh3{
        @extend h3;
        font-size: 20px;
        color: $type1;
        padding: 16px;
    }

    ul{
        li{
            #padNone{
                text-decoration: none;
                color: $type3;
                padding-left: 0px;
            }
        }
    }

    nav{
        ul{
            li{
                #padNone{
                    text-decoration: none;
                    color: $type3;
                    padding-left: 0px;
                }
            }
        }
    }
}

.serviciosBotones{
    justify-content: center;
    gap: 1rem;
    }

footer{
    .navbar-brand{
        margin: 16px;
    }
}

.footerCont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerContact{
    font-family: 'Montserrat', sans-serif;
    color: $type3;
    text-align: end;
    font-size: 16px;
    font-weight: 400
}

.footerText{
    font-family: 'Montserrat', sans-serif;
    color: $type3;
    font-size: 16px;
    padding-left: 0;
    padding-left: 16px;
    font-weight: 400;
}

.socialNetworks{
    display: flex;
    justify-content: end;
    padding: 0px 16px;
    gap: 1rem;
}

.networkIcons{
    width: 1.5rem;
}

.newColor{
    color: $type3;
}
