.but{
    display: flex;
    justify-content: flex-end;
    margin: 0px 56px 40px 0px;

    button{
        width: fit-content;
        background-color: $buttonOn;
        border: none;
        border-radius: 8px;
        color: $type2;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: $font;
        font-weight: 500;
        margin-left: 56px;
        cursor: pointer;
        transition-duration: 0.4s;
    }
}

.serviciosBotones{
    margin-top: 2rem;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    button{
        margin-bottom: 1rem;
    }
}

.serviciosBotones
    button{
        width: 14rem;
}

$servHover: (
    ux: #43d10b,
    brand: #670bd1,
    arte: #d10b75,
    web: #ee7205,
);

@each $serv, $color in $servHover {
    .btn--#{$serv}{
        &:hover{
            background-color: $color;
        }
    }
}
